name: Check Formulae

on:
  push:
  pull_request:

jobs:
  test-formula:
    name: ${{ matrix.os }} / ${{ matrix.formula }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        formula:
          - doxygen2docset
    env:
      HOMEBREW_NO_ANALYTICS: "1"
      HOMEBREW_NO_INSTALL_CLEANUP: "1"
      HOMEBREW_NO_AUTO_UPDATE: "1"

    steps:
      - name: Checkout tap repository
        uses: actions/checkout@v4

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Show Homebrew config
        run: |
          brew --version
          brew config

      - name: Tap this repository
        run: |
          brew tap ci/localtap "$GITHUB_WORKSPACE"

      - name: Audit formula
        run: |
          brew audit --formula --strict "ci/localtap/${{ matrix.formula }}"

      - name: Install formula
        run: |
          brew install --verbose --debug "ci/localtap/${{ matrix.formula }}"

      - name: Run formula test
        run: |
          brew test "ci/localtap/${{ matrix.formula }}"
